<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data.id>
  show audit
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Audits</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <table style="width:100%" class="table table-bordered table-striped">
          <tr>
            <th>Business Name</th>
            <th>Audit count</th>
            <th>Audited Changes</th>
          </tr>
          <% business = Business.all %>
          <% business.each do |b| %>
            <tr>
              <td><%= b.name %></td>
              <td><%= b.audits.count %></td>
              <%# audit = business.audits.last %>  
              <td><%= b.revisions().pluck(:name,:address) %></td>
            </tr>
          <% end %>
        </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>