<h1>Editing Player</h1>

<%= render 'form', player: @player %>
<%= link_to 'Show', [@sport, @player], class:"btn btn-secondary" %> 
<%= link_to 'Back', sport_players_path(@sport), class:"btn btn-secondary" %>
