<div class="card">
  <div class="card-header">
    <h4>Editing Offer</h4>
  </div>
  <div class="card-body">
   <%= render 'form', offer: @offer %>
  </br>   
  <%= link_to 'Show', @offer, class: "btn btn-dark"%> 
  <%= link_to 'Back', offers_path, class: "btn btn-dark" %> 
  </div>
</div>
</br>