<div class="card">
  <div class="card-header">
    <h4>Offer List</h4>
    <div class="card-body">
      <table class="table table-bordered table-striped sport-id-class" id='offer'> 
      </table>    
      <%= link_to 'New offer', new_offer_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
<br>