<div class="card">
  <div class="card-header">
    <h4>Add New Offer</h4>
  </div>
  <div class="card-body">
    <%= render 'form', offer: @offer %>
    </br>
    <%= link_to 'Back', offers_path,class: "btn btn-dark" %>
  </div>
</div>
</br>

