<h1>Editing Achievement</h1>
<%= render 'form', achievement: @achievement %>
<br>
<%= link_to 'Show', @achievement, class:"btn btn-secondary"%> |
<%= link_to 'Back', achievements_path, class:"btn btn-secondary" %>
